.sevice-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

.input-group__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    color: #000000;
}

.input-group__title {
    margin-bottom: 4px;
}

.input-group__field {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.input-group__field {
    padding-left: 42px;
    height: 40px;


    &:hover,
    &:focus {
     border-color: #2196f3;
}


    &:focus-visible {
     outline: none;
}}

.input-group__textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    height: 120px;
    padding-left: 16px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    resize: none;
    font-family: inherit;
    font-size: inherit;


    &:hover,
    &:focus {
    border-color: #2196f3;
}

    &:focus-visible {
    outline: none;
}
}

.input-group label:not(:last-child) {
    margin-bottom: 10px;
}

.sevice-form__label {
    position: relative;
    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.sevice-form__checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    cursor: pointer;
}

.sevice-form-link {
    color: var(--focus-link-color);
}

.license-agry+svg {
    width: 16px;
    height: 15px;
    color: #ffffff;
    margin-right: 10px;
    border: 2px solid;
    border-color: #212121;
    border-radius: 3px;
}

.license-agry:checked~svg {
    background-color: var(--focus-link-color);
    border-color: var(--focus-link-color);
}

.sevice-form__submit {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border: 0px solid;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);


    &:hover {
    cursor: pointer;
}}

.sevice-form__submit-text {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #ffffff;
}