:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --footer-text-color: #ffffff;
    --nav-item-color: #212121;
    --nav-item-active: #2196f3;
    --focus-link-color: #2196f3;
    --primery-bgcolor: #e5e5e5;
    --secondary-bgcolor: #f5f4fa;
    --header-bdcolor: #ffffff;
    --footer-bgcolor: #2f303a;
}

