.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bgcolor);
    color: var(--footer-text-color);
}

.conteiner.footer__conteiner {
    @media screen and(min-width: 1199px) {
        display: flex;
        align-items: baseline;
        }
}

.footer-wrap {
    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        justify-content: space-between;
        padding: 0 74px 0 61px;
        align-items: baseline;
    }
}

.footer-contact-block {
    @media screen and(max-width: 1199px) {
        text-align: center;
    }
}

.footer__logo { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: #ffffff;
}

.contact-footer {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        color: var(--focus-link-color);
}
}


.footer-contact-block li:not(:last-child) {
    margin-bottom: 9px;
}

.gmaps {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
}

.c{
        @media screen and (max-width: 767px) {
            margin-top: 60px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-top: 15px;
            margin-left: 70px;
        }
}


.footer__title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and(min-width: 1199px) {
            text-align: left;
        }
        
}

.footer-soccial__link {
    color: inherit;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soccial .icon {
    height: 20px;
    width: 20px;
}