.header {
    padding: 0;
    border-bottom: 1px solid #ececec;

    @media screen and(min-wids: 768px) {
        width: 768px;
        padding-top: 0px;
        padding-bottom: 0px;
        justify-content: space-between;
    }
}

.header__conteiner {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;

    @media screen and(max-width: 767px) {
        justify-content: space-between;
    }
}

.heder__logo {
    color: #000000;
}


.header__contacts-block {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: 1200px) {
            margin-left: 80px;;
        }
        
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.header__icon {
    margin-right: 10px;
}

.header__contact:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
            margin-bottom: 0px;
            margin-right: 50px;
        }
}

.header__contact {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    text-decoration: none;
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
    color: var(--focus-link-color);
    }

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      line-height: calc(16 / 14);
    }
}


.icon-envelope {
    width: 1.3330078125em;
}

.icon-smartphone {
    width: 0.625em;
}