.works {
    padding-top: 0;
}

.works__title.section-title {
    margin-bottom: 50px;
}

.works__list {
    display: flex;
    justify-content: space-between;
}

.works__item {
    position: relative;
}

.works__description-case {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.works__description {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}